<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>

<body>
    <h1>Lista de Clientes</h1>
    <hr>
    <h3>
        <a href="{{ url_for('home')}}">Inicio</a>
    </h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Telefone</td>
            <td>CPF</td>
            <td>E-mail</td>
            <td>Excluir</td>
            <td>Editar</td>
        </tr>
        {% for pessoa in pessoas %}
        <tr>
            <td>{{ pessoa._id }}</td>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.telefone }}</td>
            <td>{{ pessoa.cpf }}</td>
            <td>{{ pessoa.email }}</td>
            <td><a href="/excluir/{{ pessoa._id }}">Excluir</a></td>
            <td><a href="/atualizar/{{ pessoa._id }}">Editar</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>